body{
	background-color: white;
	color: grey;	
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h2{
	font-size: 50px;
	letter-spacing: -4px;
	margin-bottom: 0;
	color: black;
	border-bottom: 2px dotted grey;
}
h3{

}
ul{
	width: 200px;
	text-align: left;
	margin: 0 auto;
}
.tree{
	width: 100%;
	height: auto;
}