body{
	background-color: white;
	color: #17a3dd;	
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h2{
	font-size: 50px;
	letter-spacing: -4px;
	margin-bottom: -0.5;
	color: black;
	border-bottom: 2px dotted #ffa500;
}
h3{

}
.tree{
	width: 100%;
	height: auto;
}